<?xml version="1.0" encoding="UTF-8"?>
<web-app
    version="4.0"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xml="http://www.w3.org/XML/1998/namespace"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <display-name>Archetype Created Web Application</display-name>
	<servlet>
	    <servlet-name>First</servlet-name>
	    <servlet-class>qsp.First</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>First</servlet-name>
	    <url-pattern>/first</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>HttpExm</servlet-name>
	    <servlet-class>qsp.HttpExm</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>HttpExm</servlet-name>
	    <url-pattern>/exm</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>Register</servlet-name>
	    <servlet-class>qsp.Register</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>Register</servlet-name>
	    <url-pattern>/reg</url-pattern>
	</servlet-mapping>
</web-app>